/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2016, 6:43:17 PM
    Author     : morar
*/

.divHeaderBtns{ 
    /* border-radius: 10px 10px 0 0; */
    font-family: Tahoma, Arial;
    font-size: smaller;
    background-color: midnightblue;
    border-collapse:collapse;
    border:1px solid navy;
    /* padding: 1px; */
    overflow-x: auto;
}

.divSubHeader{
    font-family: Tahoma, Arial;
    font-size: smaller;
    background-color: white;
    border-collapse:collapse;
    border-radius: 15px 15px 15px 15px;
    border:cornflowerblue;
    border-style: solid;
    border-width: thin;
}


.divFooter{
    clear: both;
    font-family: Tahoma, Arial;
    font-size: smaller;
    position:absolute;
    bottom:0;
    padding: 3px;
    background: midnightblue;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 98%;
}

.divSmallTable{
    padding: 3px;
    background-color: gainsboro; 
    font-family: Tahoma, Arial;
    font-size: smaller;
    border-collapse: collapse;
    border-radius: 15px 15px 15px 15px;
    border-width: thin;
    border-color: lightgray;
    border-style: solid;
    overflow-x: auto; 
    overflow-y: auto;
    height: 100px; 
    align-items: center;
}

.divBigTable{
    padding: 3px;
    background-color: gainsboro; 
    font-family: Tahoma, Arial;
    font-size: smaller;
    border-collapse: collapse;
    border-radius: 15px 15px 15px 15px;
    border-width: thin;
    border-color: lightgray;
    border-style: solid;
    overflow-x: auto; 
    overflow-y: auto;
    height: 450px;; 
    align-items: center    
}

.divForm{
    padding: 3px;
    background-color: gainsboro; 
    font-size: smaller;
    font-family: Tahoma, Arial;
    border-radius: 0 0 15px 15px;
    border-color: cornflowerblue;
    border-collapse: collapse;
    border-width: thin;
    overflow-x: auto; 
    overflow-y: auto;
}

.divFormManySmall{
    padding: 3px; 
    background-color: darkgray;
    font-size: smaller;
    height: 200px;
    padding: 3px;
    overflow-x: auto; 
    overflow-y: auto; 
    border-color: cornflowerblue; 
    border-collapse: collapse; 
    border-style: solid; 
    border-width: thin;
    border-radius: 15px 15px 0 0;
}

.divFormManyBig{
    padding: 3px; 
    background-color: darkgray;
    font-size: smaller;
    height: 350px;
    padding: 5px;
    overflow-x: auto; 
    overflow-y: auto; 
    border-color: cornflowerblue; 
    border-collapse: collapse; 
    border-style: solid; 
    border-width: thin;
    border-radius: 15px 15px 0 0;    
}

.divErrorMsg{
    /* clear: both; */
    border-radius: 15px 15px 15px 15px;
    background-color: brown;
    width: 100%;
    overflow-x: auto;
}

.divPrepareMsg{
    /* clear: both; */
    border-radius: 15px 15px 15px 15px;
    background-color: cornflowerblue;
    color: navy;
    width: 100%;
    overflow-x: auto;
}


.lblError{
    color: yellow;
    background-color: brown;
    font-family: Tahoma, Arial;
    /* font-weight: bold; */
    display: block;
    width: 99%;
}

.menuBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: solid cornflowerblue;
    height: 25px;    
}

.cmdBtn{
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    width: 120px;
    border: none;
    /* height: 25px; */
}

.formTitleCaption{
    color: navy;
    font-size: smaller;
    font-family: Tahoma, Arial;
}

