/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2016, 2:21:00 PM
    Author     : morar
*/

.Tbl{  
    font-family: Tahoma, Arial;
    font-size: small;
    border-collapse:collapse;
    border:1px solid navy;
    /* width: 90%; */
}
.TblHeader{
    text-align:left;
    font-family: Tahoma, Arial;
    font-size: smaller;
    background:none repeat scroll 0 0 midnightblue;
    border-bottom:1px solid #000000;  
    color: white;
}


.TblOddRow{
    background:none repeat scroll 0 0 #FFFFFF;	
}

.TblEvenRow{
    background:none repeat scroll 0 0 #D3D3D3;
}

.TblColLeft{
    text-align:left;
    font-family: Tahoma, Arial;
    font-size: smaller; /* medium je bio */
}

.TblColRight{
    text-align:right;
    font-family: Tahoma, Arial;
    font-size: smaller; /* medium je bio */
}

.TblColCenter{
    text-align:right;
    font-family: Tahoma, Arial;
    font-size: smaller;  /* medium je bio */  
}

